body {
  background-color:lightgray;
  padding: 10px;
  margin-top: -455px;
}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
  margin-top: 5px;
}
#description {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 10;
}
div {
  background-color: lightpink;
  padding: 10px;
  border-radius: 25px;
  height: 425px;
  max-width: 100%;
}
img {
  float: right;
  display: block;
  max-height: 100%;
  border-radius: 25px;
}